Repository stacc-dasso/woocommerce-extension, pull requests merged in 2018-12, with the labels that each got.

#81 Created checking of credentials that also sends endpoint URLs (#76, #77)
  src/admin/class-recommender-admin.php
  src/includes/class-recommender-api.php
Labels: API, Back end, Front end

#86 Its now possible to change threshold when logging. See #66
  src/includes/class-recommender-wc-handler.php
Labels: Back end

#88 Plugin wont try to communicate with the api when credentials check fa…
  src/admin/class-recommender-admin.php
  src/includes/class-recommender-api.php
  src/includes/class-recommender-product-displayer.php
  src/includes/class-recommender.php
Labels: API, Back end
